CREATE TABLE pending_user (id INT AUTO_INCREMENT NOT NULL, email VARCHAR(180) NOT NULL, nom VARCHAR(255) NOT NULL, password VARCHAR(255) NOT NULL, verification_token VARCHAR(64) NOT NULL, created_at DATETIME NOT NULL, UNIQUE INDEX UNIQ_A7F57B0FE7927C74 (email), UNIQUE INDEX UNIQ_A7F57B0FC1CC006B (verification_token), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
ALTER TABLE emprunt CHANGE date_retour_effective date_retour_effective DATE DEFAULT NULL;
ALTER TABLE livre CHANGE image image VARCHAR(255) DEFAULT NULL;
ALTER TABLE users CHANGE roles roles JSON NOT NULL, CHANGE profile profile VARCHAR(255) DEFAULT NULL, CHANGE verification_token verification_token VARCHAR(64) DEFAULT NULL;
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
