<form method="post" action="{{ path('app_livre_delete', {'id': livre.id}) }}" onsubmit="return confirm('Supprimer ce livre ?');" class="inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded shadow text-sm">Supprimer</button>
</form>