# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

parameters:
    pdf_directory: '%kernel.project_dir%/public/uploads/pdf'
    images_directory: '%kernel.project_dir%/public/uploads/images'
    # AJOUTEZ CETTE LIGNE :
    profile_photos_directory: '%kernel.project_dir%/public/uploads/profiles'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'